{% extends 'basew.html' %}

{% block title %}
{{solution.title}} | Synvora IT
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<div class="bg-grid"></div>
<div class="bg-decoration bg-circle-1"></div>
      <div class="bg-decoration bg-circle-2"></div>
<section class='section-wrapper'>
    <div class="service-detail-wrapper">
        {% if solution.banner %}
            <!-- Banner Field -->
            <div class="service-banner">
                <img src="{{solution.banner.url}}" alt="{{solution.title}}">
            </div>
        {% endif %}

        <!-- Title Field -->
        <div class="service-header">
            <h1 class="service-title">{{solution.title}}</h1>
        </div>

        <!-- Technologies Field -->
        <div class="service-technologies">
            {% for tech in solution.technologies.all %}
                <span class="tech-tag">{{tech.name}}</span>
            {% endfor %}
        </div>

        <!-- Detail Field -->
        <div class="service-detail-body">
            {{solution.description|safe}}
        </div>
    </div>
<section>
{% endblock content %}